.notFound{
    width: 300px;
    margin: 30px auto 0;
    text-align: center;
}
.notFound h3{
    color: #084298;
    font-weight: bold;
    margin: 0;
}
.notFound p{
    margin: 0;
}
.notFound a{
    text-decoration: underline;
    padding-top: 5px;
    display: block;
    color: #084298;
}